<div class="flex flex-col justify-between bg-white border border-gray-200 rounded-lg shadow p-5 h-full">
    <div>
      <span class="text-xl font-bold tracking-tight text-gray-900">Materia: MAT202</span>
      <p class="mt-2 font-bold text-gray-900">Nota: <span class="font-light">4</span></p>
      <p class="font-bold text-gray-900">Estado: <span class="font-light">A</span></p>
    </div>
    <div class="flex justify-end mt-4">
      <button type="submit"
              class="text-white bg-orange-600 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center transition duration-300">
        Ver detalles
      </button>
    </div>
  </div>
