<section class="bg-gray-50 ">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto  lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold  text-gray-900 ">
            <img class="w-full  mr-2 mt-28" src="https://www.unbosque.edu.co/sites/default/files/logo.png" alt="logo">
        </a>
        <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-lg xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    Registra una nueva cuenta
                </h1>
                <form [formGroup]="form" (ngSubmit)="saveUser()" class="max-w-md mx-auto">
                    <div class="relative z-0 w-full mb-5 group">
                        <input formControlName="emailAddress" type="email" name="floating_email" id="floating_email"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-green-500 peer"
                            placeholder=" " required />
                        <label for="floating_email"
                            class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Correo
                            electrónico</label>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input formControlName="password" type="password" name="floating_password"
                            id="floating_password"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none   focus:outline-none focus:ring-0 focus:border-green-500 peer"
                            placeholder=" " required />
                        <label for="floating_password"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Contraseña</label>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input formControlName="repitePassword" type="password" name="repeat_password" id="floating_repeat_password"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-green-500 peer"
                            placeholder=" " required />
                        <label for="floating_repeat_password"
                            class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-green-500  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirmar
                            contraseña</label>
                    </div>
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <input formControlName="firstName" type="text" name="floating_first_name" id="floating_first_name" pattern="[a-zA-Z]*"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-green-500 peer"
                                placeholder=" " required />
                            <label for="floating_first_name"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Primer
                                nombre</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" formControlName="secondName" name="floating_second_name" id="floating_second_name" pattern="[a-zA-Z]*"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-green-500 peer"
                                placeholder=" " required />
                            <label for="floating_second_name"
                                class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-green-500  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Segundo
                                nombre</label>
                        </div>
                    </div>
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <input formControlName="firstLastname" type="text" name="floating_first_surname" id="floating_first_surname"
                                pattern="[a-zA-Z]*"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-green-500 peer"
                                placeholder=" " required />
                            <label for="floating_first_surname"
                                class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Primer
                                apellido</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input formControlName="secondLastname" type="text" name="floating_second_surname" id="floating_second_surname"
                                pattern="[a-zA-Z]*"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-green-500 peer"
                                placeholder=" " required />
                            <label for="floating_second_surname"
                                class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Segundo
                                apellido</label>
                        </div>
                    </div>

                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <label for="underline_select" class="sr-only">Underline select</label>
                            <select formControlName="documentType" id="underline_select"
                                class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-gray-200 peer "
                                required>
                                <option selected>Selecciona el tipo de documento:</option>
                                <option value="1">Cédula de ciudadanía</option>
                                <option value="2">Tarjeta de identidad</option>
                                <option value="3">Cédula de extranjería</option>
                                <option value="4">Pasaporte</option>
                                <option value="5">Registro civil</option>
                                <option value="6">NIT</option>
                                <option value="7">Documento único de identidad</option>
                                <option value="8">Carné diplomático</option>
                                <option value="9">Permiso especial de permanencia</option>
                            </select>
                            <label for="floating_company"
                                class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Tipo
                                de documento</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input formControlName="documentNumber" type="number" name="identification_number" id="identification_number"
                                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-green-500 peer"
                                placeholder=" " required />
                            <label for="identification_number"
                                class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Número
                                de Identificación</label>
                        </div>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input formControlName="phoneNumber"  type="tel" name="phone_number" id="phone_number"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-green-500 peer"
                            placeholder=" " pattern="[0-9]{1,10}" required />
                        <label for="phone_number"
                            class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Número
                            de teléfono</label>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input formControlName="address"  type="text" name="address" id="address"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-green-500 peer"
                            placeholder=" " required />
                        <label for="address"
                            class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Dirección</label>
                    </div>
                    <button type="submit"
                        class="w-full text-white bg-green-500 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Regístrate</button>

                    <p class="text-sm font-light text-gray-500 text-center">
                        <br> ¿Ya tienes cuenta? <a href="auth/login"
                            class="font-medium text-primary-600 hover:underline">Inicia
                            sesión</a> | <a href="auth"
                            class="font-medium text-primary-600 hover:underline">Volver</a><br><a href="auth/adminlogin"
                            class="font-medium text-primary-600 hover:underline">Ingresa como administrador</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>