<section class="bg-white mt-28">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
        <span class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Homologaciones</span>
        <p class="font-light text-gray-500 sm:text-xl">
          Explora las homologaciones que tienes actualmente asociadas con nuestra institución.
        </p>
      </div>
      <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
        <!-- Tarjeta de homologación 1 -->
        <ng-container *ngFor="let card of listHomologations">
          <app-repeat-card></app-repeat-card>
        </ng-container>
        

      </div>
    </div>
  </section>
  