<section class="bg-white mt-28">
    <div class="mx-auto max-w-4xl ">
        <main class="min-h-screen flex flex-col justify-center items-center py-1 text-center">
            <div class="p-2 md:p-4 w-full max-w-3xl ">
                <div class="px-6 pb-8 mt-8 inline-block w-full sm:max-w-xl sm:rounded-lg">
                    <span class="text-4xl font-extrabold sm:text-3xl">Información de tu perfil</span>
                    <div class="mt-8">
                        <div class="flex justify-center">
                            <div
                                class="relative inline-flex items-center justify-center w-40 h-40 overflow-hidden bg-gray-100 rounded-full">
                                <span class="font-medium text-4xl text-gray-600">JL</span>
                            </div>
                        </div>
                        <div class="mt-8 sm:mt-14 text-[#202142] text-left">
                            <form class="space-y-6" action="#" method="POST">
                                <div class="grid md:grid-cols-2 md:gap-6">
                                    <div class="relative z-0 w-full mb-5 group">
                                        <input type="text" name="floating_name" id="floating_name"
                                            pattern="[a-zA-Z]*"
                                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-green-500 peer"
                                            placeholder=" " required>
                                        <label for="floating_name"
                                            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre</label>
                                    </div>
                                    <div class="relative z-0 w-full mb-5 group">
                                        <input type="text" name="floating_first_surname" id="floating_surname"
                                            pattern="[a-zA-Z]*"
                                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-green-500 peer"
                                            placeholder=" " required>
                                        <label for="floating_surname"
                                            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Apellido</label>
                                    </div>
                                </div>
                                <div class="grid md:grid-cols-2 md:gap-6">
                                <div class="relative z-0 w-full mb-5 group">
                                    <input type="tel" name="phone_number" id="phone_number"
                                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-green-500 peer"
                                        placeholder=" " pattern="[0-9]{1,10}" required>
                                    <label for="phone_number"
                                        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Número
                                        de teléfono</label>
                                </div>
                                <div class="relative z-0 w-full mb-5 group">
                                    <input type="text" name="address" id="address"
                                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-green-500 peer"
                                        placeholder=" " required>
                                    <label for="address"
                                        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Dirección</label>
                                </div>
                            </div>
                                <div class="grid md:grid-cols-2 md:gap-6">
                                    <div class="relative z-0 w-full mb-5 group">
                                        <label for="underline_select" class="sr-only">Underline select</label>
                                        <select formControlName="documentType" id="underline_select"
                                            class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-gray-200 peer "
                                            required>
                                            <option selected>Selecciona el tipo de documento:</option>
                                            <option value="1">Cédula de ciudadanía</option>
                                            <option value="2">Tarjeta de identidad</option>
                                            <option value="3">Cédula de extranjería</option>
                                            <option value="4">Pasaporte</option>
                                            <option value="5">Registro civil</option>
                                            <option value="6">NIT</option>
                                            <option value="7">Documento único de identidad</option>
                                            <option value="8">Carné diplomático</option>
                                            <option value="9">Permiso especial de permanencia</option>
                                        </select>
                                        <label for="floating_company"
                                            class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Tipo
                                            de documento</label>
                                    </div>
                                    <div class="relative z-0 w-full mb-5 group">
                                        <input readonly formControlName="documentNumber" type="number"
                                            name="identification_number" id="identification_number"
                                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-green-500 peer"
                                            placeholder=" " required />
                                        <label for="identification_number"
                                            class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Número
                                            de Identificación</label>
                                    </div>
                                </div>
                                <div class="flex justify-end">
                                    <button type="submit"
                                        class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>