<app-header></app-header>
<div class="flex flex-col items-center  pt-12  font-inter">
    <figure class="relative w-11/12 h-96 transition-all duration-300 cursor-pointer items-center">
        <img class="rounded-lg object-cover w-full h-full"
            src="https://orientacion.universia.net.co/imgs2011/imagenes/marketing_-2022_05_20_172813@2x.jpg">
        <figcaption
            class="absolute inset-x-0 bottom-6 px-4 py-2 text-xl text-white text-center bg-black bg-opacity-50 rounded-lg font-display">
            <p class="text-4xl font-bold dark:text-white">¡Realiza tu homologación en El Bosque!</p>
        </figcaption>
    </figure>

</div>

<div class="flex flex-col  max-w-7xl mx-auto min-h-screen-content">
    <hr class="my-8 border-gray-400">
    <div class="w-11/12 text-start">
        <span class="mb-10 text-xl text-center font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-4xl">
            Realiza tu <span class="text-green-500">transferencia</span> en la universidad El Bosque</span>  
        <div class="grid grid-cols-1 gap-14 sm:grid-cols-2 mt-4">
            <p
                class="mb-3 text-gray-900 text-base text-justify first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 first-letter:me-3 first-letter:float-start">
                Es la oportunidad que te brinda El Bosque para que termines
                de cursar, en nuestra Universidad, los estudios de
                educación superior que iniciaste en otra institución. El objetivo es que puedas continuar tu carrera
                profesional en otro
                programa del mismo nivel, siempre y cuando, no hayas perdido la calidad de estudiante en la institución
                de
                procedencia por razones de orden disciplinario. <br><br>
                Para poder acceder a esta posibilidad deberás solicitar el
                beneficio, incluir los papeles que se requieren y ser
                aprobado por el Consejo de Facultad y por el Consejo Directivo. En caso de ingresar por transferencia
                deberás cursar
                en nuestra Universidad como mínimo el 50% del total de los créditos del programa al cual te inscribiste.
            </p>
            <div class="mb-3 text-gray-900 text-base text-justify">
                <span class="text-xl font-bold">Requisitos importantes:</span>
                <ul class="max-w-md space-y-1 mt-4 text-gray-900 list-disc list-inside">
                    <li>
                        Que hayas cursado como mínimo el 80% del contenido programático de la asignatura que se
                        homologará.
                    </li>
                    <li>
                        Que la intensidad horaria sea igual o superior a la establecida en el plan de estudios del
                        programa de la Universidad El Bosque.
                    </li>
                    <li>
                        Que tu calificación obtenida sea igual o superior a 3.0.
                    </li>
                </ul>
            </div>
        </div>
        <p class="mb-3 text-gray-900 text-base font-display text-justify"></p>
        <p class="text-gray-900 text-base font-display mb-20 text-justify"></p>
    </div>
    <hr class="w-11/12 my-8 border-gray-400">
    <span class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-4x"><span class="underline underline-offset-3 decoration-8 decoration-green-500">Documentos</span> más importantes a tener en cuenta:</span>
    <ol class="relative border-s border-gray-200 items-start">
        <li class="mb-10 ms-6 text-left">
            <span
                class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white">
                <svg class="w-2.5 h-2.5 text-green-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                </svg>
            </span>
            <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 ">Certificado original de las
                calificaciones obtenidas y créditos de las asignaturas cursadas en la institución de procedencia.</h3>
        </li>
        <li class="mb-10 ms-6">
            <span
                class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white">
                <svg class="w-2.5 h-2.5 text-green-500  " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                </svg>
            </span>
            <h3 class="mb-1 text-lg font-semibold text-gray-900 ">El programa y contenido de las asignaturas cursadas,
                refrendado con firma y sello por la institución de procedencia.</h3>

        </li>
        <li class="mb-10 ms-6">
            <span
                class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white">
                <svg class="w-2.5 h-2.5 text-green-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                </svg>
            </span>
            <h3 class="mb-1 text-lg font-semibold text-gray-900 ">El certificado de buena conducta expedido por la
                autoridad competente de la institución de procedencia.</h3>
        </li>
        <li class="ms-6">
            <span
                class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white">
                <svg class="w-2.5 h-2.5 text-green-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                </svg>
            </span>
            <h3 class="mb-1 text-lg font-semibold text-gray-900 ">Solicitud escrita y motivada para iniciar el proceso
                de transferencia. </h3>
        </li>
    </ol>
</div>

<app-footer></app-footer>